@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.dashboard {
  padding: $spacing-xs $spacing-md;
  display: grid;
  grid-template-columns: 65% 35%;

  @include respond-to("lg") {
    grid-template-columns: 1fr;
  }
}

.projects-section {
  background: $color-white;
  border-top-left-radius: $radius-3xl;
  border-top-right-radius: $radius-3xl;
  padding: $spacing-2xl;

  @include respond-to("sm") {
    padding: $spacing-xl;
  }
}

.projects-header {
  @include flex-between;
  margin-bottom: 40px;
  padding-inline: 7px;
}

.projects-title {
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
  color: $color-primary;
}

.projects-date {
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  color: $color-primary;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $spacing-lg;
  margin-bottom: $spacing-xl;
  margin-left: -17px;
  padding-inline: 7px;

  @include respond-to("md") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to("xl") {
    gap: 10px;
  }
}

.stat-card {
  max-width: 140px;
  text-align: start;
  padding-left: $spacing-md;
  position: relative;

  &:nth-child(-n + 3)::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 100%;
    margin-left: calc(#{$spacing-lg} / 2 - 3px);
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border: solid $color-text 1px;
    border-radius: $radius-full;
    background: $color-white;
    z-index: 1;

    @include respond-to("md") {
      display: none;
    }
  }
}

.stat-number {
  font-size: 21px;
  font-weight: $font-weight-bold;
  color: $color-primary;
  margin-bottom: 4px;
}

.stat-label {
  font-size: $font-size-sm;
  color:  $color-secondary;
}

.view-options {
  @include flex-center;
  gap: $spacing-sm;
  justify-self: flex-end;

  @include respond-to("md") {
    transform: translateY(50%);
    grid-column: 2 / -1;
  }
}

.view-btn {
  @include button-reset;
  padding: $spacing-sm;
  border-radius: $radius-sm;
  // background: $color-white #f5f5f5;
  @include flex-center;
  transform: scale(1.3);

  &:hover {
    background: $color-background;

  }

  &.active {
    background: #f1f5f9;
    color: $color-white;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 7px;
  overflow-x: scroll;
  max-height: 70dvh;
  @include hide-scrollbar;

  @include respond-to("md") {
    max-height: none;
    overflow-y: visible;
  }

  @include respond-to("sm") {
    grid-template-columns: 1fr;
    max-height: none;
    overflow-y: visible;
  }
}

.grey-line {
  width: calc(100% + 40px);
  height: 2px;
  background-color: rgba($color-secondary, 0.14);
  border: none;
  margin: $spacing-md -1.2rem;
}

.white-line {
  width: calc(100% + 44px);
  background-color: rgba($color-white, 1.46);
  height: 2px;
  border: none;
  margin: $spacing-md -1.4rem;
}
