@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  gap: $spacing-md;
  align-items: center;
  padding: $spacing-md $spacing-lg;
  // background: $color-white;
  border-radius: $radius-xl;
  // margin: $spacing-md;
  margin-left: 0;

  @include respond-to("md") {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 0.75rem $spacing-md;
    padding: $spacing-md;
    padding-bottom: 0;
    padding-top: 0;
    margin: $spacing-sm;
    margin-left: 0;
  }
  @include respond-to("md") {
    gap: 0;
  }
}

.header-left {
  @include flex-start;
  gap: $spacing-3xl;
  min-width: 0;

  @include respond-to("md") {
    grid-column: 1 / 2;
    grid-row: 1;
    gap: $spacing-md;
    flex-wrap: wrap;
  }
  @include respond-to("sm") {
    gap: $spacing-sm;
  }
}

.header-title {
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  font-weight: $font-weight-bold;
  color: $color-primary;
  white-space: nowrap;
  margin-left: 1.5rem;

  @include respond-to("md") {
    margin-left: 1.2rem;
  }
  @media (max-width: 480px) {
    margin-left: 0.3rem;
  }
}

.header-right {
  @include flex-start;
  gap: 0.75rem;

  @include respond-to("md") {
    grid-column: 2 / 3;
    grid-row: 1;
  }
  @include respond-to("sm") {
    gap: 0.5rem;
  }
}

.menu-btn {
  @include button-reset;
  padding: $spacing-sm;
  color: black;
  font-size: $font-size-base;

  &:hover {
    color: $color-primary;
  }
}

.search-box {
  position: relative;
  flex: 1;

  @include respond-to("lg") {
    flex: 0 1 auto;
    max-width: 200px;
  }

  @include respond-to("md") {
    flex: 0;
    width: auto;
    display: block;
  }
  .search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    color: $color-secondary;

    @include respond-to("md") {
      position: static;
      transform: none;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $radius-full;
      border: 1px solid $color-border;
      background: $color-white;
      color: $color-secondary;
      // transition: all $transition-base;

      // &:hover {
      //   background: $color-border;
      //   color: $color-primary;
      // }
    }
  }

  .search-input {
    width: 50%;
    padding: $spacing-sm $spacing-md $spacing-sm 2.5rem;
    border: 1px solid $color-border;
    border-radius: $radius-2xl;
    background: #fff;
    font-size: $font-size-sm;
     @include respond-to("lg") {
      width: 100%;
    }
    &:focus {
      border-color: $color-primary-light;
      background: $color-white;
    }

    &::placeholder {
      color: $color-secondary;
    }

    @include respond-to("md") {
      display: none;
    }
  }
}

.add-btn {
  @include circle-btn;
  background: $color-primary;
  color: $color-white;
  font-size: 0.8rem;
  font-weight: 300;

  &:hover {
    opacity: 0.9;
  }

  &.add-btn-orange {
    background: $color-orange;
  }

  &.add-btn-purple {
    background: $color-purple;
  }

  &.add-btn-green {
    background: $color-green;
  }

  &.add-btn-pink {
    background: $color-pink;
  }
  &.add-btn-blue {
    background: $color-blue;
  }
  &.add-btn-grey {
    background: $color-grey;
  }
}

.notification-btn {
  @include button-reset;
  @include circle-btn;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0.1rem;
    right: 0.15rem;
    width: 0.6rem;
    height: 0.6rem;
    background: $color-danger;
    border-radius: $radius-full;
    border: 2px solid $color-white;
  }

  i {
    font-size: 1.9rem;
    color: $color-secondary;
  }
}

.user-profile {
  @include flex-start;
  gap: $spacing-sm;
  cursor: pointer;
  border-left: 1px solid $color-secondary;
  padding-left: 0.75rem;

  .user-avatar {
    @include avatarheader;
    background: $color-border;
  }

  .user-name {
    font-weight: ($font-weight-bold + 100);
    font-size: $font-size-base;
    color: $color-primary;

    // @include respond-to("sm") {
    //   display: none;
    // }
  }
}

// .standalone-search {
//   grid-column: 1 / -1;
//   grid-row: 2;
//   position: relative;
//   width: 100%;
//   display: none;

//   @include respond-to("md") {
//     display: block;
//   }

//   .standalone-search-icon {
//     position: absolute;
//     left: 0.75rem;
//     top: 50%;
//     transform: translateY(-50%);
//     width: 1rem;
//     height: 1rem;
//     color: $color-secondary;
//   }

//   .standalone-search-input {
//     width: 100%;
//     padding: $spacing-sm $spacing-md $spacing-sm 2.5rem;
//     border: 1px solid $color-border;
//     border-radius: $radius-2xl;
//     background: #fff;
//     font-size: $font-size-sm;

//     &:focus {
//       border-color: $color-primary-light;
//       background: $color-white;
//     }
//   }
// }
