@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  height: 100vh;
  @include flex-column;
  align-items: center;
  padding-top: $spacing-lg;
  z-index: 100;
  background: transparent;

  @include respond-to("md") {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $sidebar-width-mobile;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 $spacing-sm;
    background-color: $color-background;
    border-top: 1px solid $color-border;
  }
}

.sidebar-btn {
  @include button-reset;
  @include circle-btn(48px);
  border-radius: $radius-lg;
  margin: $spacing-sm 0;
  color: $color-secondary;
  font-size: $font-size-xl;
  @include transition;

  &:hover {
    background: #f1f5f9;
    color: $color-primary;
  }

  &.active {
    background: $color-primary;
    color: $color-white;
    border-radius: $radius-full;
    aspect-ratio: 1;
  }

  &.menu {
    margin-bottom: 45px;

    @include respond-to("md") {
      display: none;
      margin-bottom: 0;
    }
  }

  @include respond-to("md") {
    margin: 0 $spacing-sm;
  }

  svg,
  i {
    width: 20px;
    height: 20px;
  }
}

.main-content {
  margin-left: $sidebar-width;
  min-height: 100vh;

  @include respond-to("md") {
    margin-left: 0;
    padding-bottom: $sidebar-width-mobile;
  }
}
