@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.progress-label {
  font-size: $font-size-sm;
  color: $color-primary;
  margin-bottom: $spacing-sm;
  font-weight: $font-weight-semibold;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background: rgba($color-white, 1);
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: $spacing-sm;

  &.grey {
    background-color: rgba(199, 199, 200, 0.82);
  }
}

.progress-fill {
  height: 100%;
  border-radius: 2px;
  @include transition(width);

  &.orange {
    background: $color-orange;
  }

  &.green {
    background: $color-green;
  }

  &.pink {
    background: $color-pink;
  }

  &.purple {
    background: $color-purple;
  }

  &.blue {
    background: $color-blue;
  }
}

.progress-percentage {
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  color: $color-primary;
  text-align: right;
}
