@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@media (max-width: $breakpoint-lg) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media (max-width: 935px) {
  //
}

@media (max-width: $breakpoint-md) {
  * {
    font-size: 14px;
  }
  body {
    overflow: hidden;
  }

  .projects-grid {
    max-height: none;
    overflow-y: auto;
  }

  .messages-list {
    max-height: none;
    overflow-y: scroll;
    padding-right: 0;
  }

  .search-input {
    width: 100%;
  }

  .header-left {
    flex-wrap: wrap;
  }

  .main-content {
    margin-left: 0;
  }

  .stat-card:nth-child(-n + 3)::after {
    display: none;
    content: none;
  }

  .stats-grid {
    grid-template-columns: repeat(4, 1fr) 0.5fr;

    .view-options {
      flex-direction: column;
      transform: translateY(0);

      grid-column: 5 / -1;
    }
  }

  .sidebar {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $sidebar-width-mobile;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 $spacing-sm;
    background-color: $color-background;

    .sidebar-btn.menu {
      display: none;
      margin-bottom: 0;
    }

    .sidebar-btn {
      margin: 0 $spacing-sm;
    }
  }

  .time-badge {
    padding: 0.6625rem $spacing-sm;
  }
}
@media (max-width: $breakpoint-sd) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .project-card {
  }
}

@media (max-width: $breakpoint-sm) {
  .projects-section {
    padding: 2rem 0.95rem !important;
    padding-bottom: 0 !important;
  }
  .time-badge {
    padding: $spacing-sm $spacing-xs;
  }
  .message-text {
    font-size: $font-size-xs;
    line-height: 1;
  }
  .message-item {
    padding: $spacing-sm;
    gap: $spacing-xs;
  }
  .message-avatar {
    @include avatar(2.5rem);
  }
  .messages-title {
    font-size: $font-size-sm;
  }
  .messages-header {
    padding-inline: 0.25rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
    overflow-y: auto;
    max-height: none;
  }
}
